.sign_in_btn {
    height: 40px;
    width: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: #d32521;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-item{
    font-family: SourceSansPro;
    font-size: 22px;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}